.main {
  margin: 1rem auto;
}

.main input {
  width: 500px;
  border-radius: 100vh;
  border: 1px solid black;
  padding: 1rem;
  height: 50px;
}

.main input:focus {
  border: 1px solid #3131db;
  outline: none;
  box-shadow: 0px 0px 4px #3131db;
}